@media (max-width: 620px) {
    
    .nav-row {
        justify-content: space-between;
    }

    .dark-mode-btn {
        order: 0;
    }

    /* header */
    .header {
        min-height: unset;
    }

    .header__title {
        font-size: 30px;
    }

    .header__text {
        font-size: 14px;
    }

    .btn {
        height: 30px;
        padding: 5px 20px;
        font-size: 14px;
    }

    /* main */
    .section {
        padding: 30px 0;
    }

    .title-1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .project_title {
        font-size: 18px;
    }

    .title-2 {
        font-size: 24px;
        margin-bottom: 0;
    }

    .content-list {
        row-gap: 12px;
    }

    .content-list__item {
        font-size: 14px;
    }

    /* footer */

    .footer {
        padding: 40px 0 30px; 
    }
    
    .footer__wrapper {
        row-gap: 18px;
    }
    
    .social {
        column-gap: 20px;
    }
    
    .social__item {
        width: 28px;
    }

    .copyright {
        font-size: 14px;
    }

    /* Resume */

    .information {
        align-items: center;
    }

    .information__item p, .education p, .list {
        font-size: 14px;
    }
}

@media (max-width: 490px) {

    /* Resume */
    .imgJulia {
        display: none;
    }

    .job__title {
        display: none;
    }
}